/* Define color variables */
:root {
  --primary-blue: #007bff; /* Original blue color */
  --light-blue: #6ea4ff;
  --dark-blue: #0047ab;
  --light-gray: #f8f9fa; /* Light gray background color */
}

/* Body styles */
body {
  background-color: var(--light-gray);
}

/* Navbar styles */
.navbar {
  background-color: var(--dark-blue);
}

/* Navbar link styles */
.navbar-nav .nav-link {
  color: white !important;
}

/* Navbar brand styles */
.navbar-brand {
  color: white !important;
}

/* Footer styles */
footer {
  background-color: var(--dark-blue);
  color: white;
}

/* Social icons styles */
.social-icons a {
  color: white;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--light-blue);
}
